@font-face {
    font-family: dinar;
    src: url("./fonts/Dinar.ttf") format('truetype');

}

@font-face {
    font-family: entezar;
    src: url('./fonts/Entezar.ttf');
}

@font-face {
    font-family: rezvan;
    src: url("./fonts/Rezvan/fonts/REZVAN.ttf") format('truetype');

}

:root {
    --bg-color: #EEF3F999;
    --bg-color-input: #0066ff05;
    --text-color: #6d9bdf;
    /*--text-color: #fff;*/
    --border-light: #e8e8e8;
    --main-font: 'IRANSans';
    --second-font: dinar;
    --color-1: #334694;
    --color-2: #00b3e4;
    /*--color-2: #1892E3;*/

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.border-lighter {
    border: 1px solid var(--border-light)
}

.bg-none {
    background-color: transparent;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    font-family: var(--main-font), serif;
}

.header-mask {
    /*background: rgb(255, 255, 255);*/
    /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 100%);*/
    background-color: var(--bg-color);
    /*background: linear-gradient(90deg, #1997e7 0, #083895)*/
}

.header-mask-image {
    background: url("./asset/image/background-pattern_Nero AI_Photo_Face.jpeg") no-repeat;
    background-size: contain;
    /*opacity: 0.5;*/
}

.logo-name h3 {
    font-family: dinar, serif;
    font-size: 1.2rem;
    color: var(--text-color);
    width: fit-content;
}

.logo-name h2 {
    width: fit-content;
    font-family: dinar, serif;
    font-size: 0.9rem;
    color: #ccc;
    /*color: #aaa;*/
}

.result-filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    color: #999;
    font-size: 0.8rem;
}

.result-filter h6 {
    /*color: #888;*/
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;

    +span {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--text-color);
    }
}

#clear-filters {
    color: var(--text-color);

    svg {
        width: 24px;
        height: auto;

        path {
            fill: var(--text-color);
        }
    }
}

.search-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.input-container select {
    height: 40px;
    border: 1px solid var(--border-light);
    color: #999;
    /*color: #fff;*/
    width: 100%;
    font-size: 0.8rem;
    background: #ffffff99;
    outline: none;
    backdrop-filter: blur(10px);
    transition: 0.4s;
}

.input-container option {
    color: #333;
}

.input-container select:focus {
    /*outline: none;*/
    /*outline: 1px solid #fff;*/
}

.input-container label {
    width: 100px;
    font-size: 0.85rem;
    font-weight: 500;
    color: #666;
    /*color: #f1f1f1;*/

}

table {}

table thead tr {
    border-bottom: 2px solid var(--color-2);
}

.filter-top-one-percent {
    outline: none;
    padding: 5px 15px;
    border: 1px solid #6d9bdf;
    background-color: #fff;
    border-radius: 3px;
    float: left;
    font-size: .7rem;
    margin-bottom: 10px;
}

table thead tr th {
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
    min-width: fit-content;
}

table thead tr:last-child th {
    font-size: 0.85rem;
    color: #666;
    font-weight: 400;
}

table tbody tr:hover {
    box-shadow: 0 0 15px 3px #EEF3F9;
}

/* table tbody tr td {} */

table tbody tr td {
    text-align: center;
    font-size: 0.8rem;
    color: hsl(0, 0%, 47%);
    font-weight: 400;
    transition: 0.5s;
    min-width: 5rem;
    padding: 1rem 0.2rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;

    a {
        color: hsl(0, 0%, 47%);
    }
}

table tbody tr:nth-child(even) {
    background: #e7f2fa;
}

table tbody tr td:nth-child(5) {
    color: hsl(0, 0%, 30%)
}

table tbody tr:hover td {
    background: #fff;
    border-bottom: 1px solid var(--color-2);
    border-top: 1px solid var(--color-2);
}


footer {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    background-color: #F5F8FB;
    /* box-shadow: 0 0 5px #ccc; */
}

.footer-box-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 16px;
}

.footer-box {
    position: relative;
    z-index: 999;

    img {
        width: 100px
    }

    &.links {

        h6 {
            color: rgb(42, 80, 140);
            border-bottom: 1px solid rgb(42, 80, 140);
        }

        a {
            font-size: .8rem;
            line-height: 1rem;
            font-weight: lighter;
            color: rgb(42, 80, 140);
            transition: 0.4s;

            &:hover {
                margin-right: 5px;
            }
        }
    }

    .logo-name h3 {
        /*color: #d9eaff;*/
        font-size: 1rem;
        color: rgb(42, 80, 140);
    }
}

.text-content {
    h2 {
        width: fit-content;
        font-family: dinar, serif;
        font-size: 0.8rem;
        color: #ccc;
    }

    h3 {
        font-family: dinar, serif;
        font-size: 1rem;
        color: var(--text-color);
        width: fit-content;
    }

    h4 {
        font-family: Rezvan;
        /*color: #d9e9ff;*/
        color: rgb(42, 80, 140);

        /*font-size: 4.5rem;*/
        line-height: 1.5rem;

    }
}

.copyRight {
    border-top: 1px solid #7eace6;
    /*color: #d9e9ff;*/
    color: rgb(42, 80, 140);
    font-size: 0.8rem;
}

.footer-icon {
    aspect-ratio: 1;
    width: auto;
    color: var(--text-color);
    opacity: 0.1;
}

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #00B1E1;
}



@media (max-width: 992px) {
    .logo-name {
        a {
            img {
                width: 70px
            }
        }

        h2 {
            font-size: 0.8rem;
        }

        h3 {
            font-size: 1rem;
        }
    }

    .search-btn {
        width: fit-content;
        background-color: var(--text-color);
        color: #fff;
        font-size: 0.8rem;
        cursor: pointer;
    }

    label:has(#search-box) {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 0.8rem;
    }

    .search-container {
        max-height: 0;
        /* padding-top: 0; */
        overflow: hidden;
        transition: 1s;
    }

    label:has(#search-box:checked)+.search-container {
        /* padding-top: 0.5rem; */
        max-height: 200px;
        transition: 1s;
    }

    

   
}


@media (max-width: 576px){
    .footer-box-container {

        grid-template-columns: revert
    }

    .footer-box {
        &.links {

            text-align: center;

            h6 {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    .search-container form {
        grid-template-columns: revert
    }
    label:has(#search-box:checked)+.search-container{
        max-height: 400px;
    }
}