:root {

    --main-color: #6180cd;
    --main-color-light: #5988ec;
    /*--main-color-light-top: #f3bce3;*/
    --main-bg: #f7f7f7;
    --button: #5191ff;
    --uni-color: #365293
}

@font-face {
    font-family: dinar;
    src: url("./fonts/Dinar.ttf") format('truetype');

}

@font-face {
    font-family: rezvan;
    src: url("./fonts/Rezvan/fonts/REZVAN.ttf") format('truetype');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    min-height: 100vh;
    background: var(--main-bg);
    font-family: IRANSans;
}
.goup{
    display: none;
}
.scroll .goup {
    display: block;
    animation: goup 0.5s;

    bottom: 2rem;
    right: 4rem;
    svg {
        width: 2.5rem;
        height: 2.5rem;

        path {
            fill: var(--main-color-light)
        }
    }
}
@keyframes goup {
    from{
        bottom: 0rem;
        display: none;
    }
    to{
        bottom: 2rem;
        display: block;
    }
}
.top-header {
    width: 100%;

    background: #fafafa;
    border-bottom: 1px solid var(--main-color-light);
    height: 70px;

    /* .top-header-img {
        background: url("./asset/image/1234.png");
        background-repeat: no-repeat;
        background-size: 100% 180%;
        z-index: -1;
        opacity: 0.2;
    } */

    a {
        height: 100%;
    }

    img {
        height: 100%;
    }

    .uni-logo {
        font-family: Rezvan;
        font-size: 2rem;
        color: #365293;
    }
}


.menu {

    >div {
        /*border: 2px solid var(--main-color-light);*/
        border: 2px solid #5988ec44;
        height: 45px;
        background-color: #5988ec11;

        ul {
            a {
                color: #333;
                text-decoration: none;
                font-size: 0.9rem;

                svg {
                    width: 15px;
                    height: 15px;
                }

                &.active {
                    svg {
                        fill: var(--main-color-light);
                    }

                    color: var(--main-color-light);
                }
            }
        }
    }
}

.main-section {
    scroll-margin-top: 130px;

}

.section-content {
    >div {

        border-top: 1px solid #5988ec55;
    }

    p {
        font-size: 0.85rem;
        color: #777;
        text-align: justify;
        line-height: 1.5rem
    }

}

.section-title {
    h2 {
        font-family: rezvan;
        width: fit-content;
        font-size: 1.5rem;
        z-index: 1;
        padding: 0 5px;

        svg {
            width: 20px;
            height: 20px;
            margin-bottom: 7px;
        }

        svg path {
            fill: var(--main-color-light);
        }
    }

    .title-line {
        display: inline-block;
        height: 5px;
        border-radius: 5px;
        background-color: var(--main-color-light);
        bottom: 0;
        right: 0;
        z-index: 0
    }
}


.uni-link {
    a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
        color: var(--main-color-light);
        transition: 0.5s;
    }

    h5 {
        color: #999;
        font-size: 0.7rem;
        margin-bottom: 0;
    }

    svg {
        width: 1rem;
        height: 1rem;

        path {
            fill: var(--main-color-light);
            transition: 0.5s;
        }
    }

    a:hover {
        color: #ff8f0e;

        svg path {
            fill: #ff8f0e
        }
    }
}

.uni-detail {
    width: 140px;
    height: 80px;
    border-radius: 0.7rem 0.7rem 0 0;
    background-color: #fff;
    border: 1px solid #5988ec22;
    font-weight: 800;
}

.uni-details-small {
    top: 85%;
    font-size: 0.6rem;
    color: var(--main-color-light);

    .line {
        height: 2px;
        background: rgba(89, 136, 236, 0.3);
        /* background: linear-gradient(90deg, rgba(89,136,236,1) 0%, rgba(89,136,236,0) 100%);; */
        display: inline-block;
        width: 100%;

        &:last-child {
            /* background: linear-gradient(90deg,  rgba(89,136,236,0) 0%, rgba(89,136,236,1) 100%);; */

        }
    }

    svg {
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;

        path {
            fill: var(--main-color-light)
        }

    }
}

.resources-links-header {
    a {
        color: var(--main-color);
        font-size: 0.8rem;
        font-weight: 400;
        transition: 0.5s;

        svg {
            width: 15px;
            height: 15px;
            transition: 0.5s;
            fill: var(--main-color);
        }

        &:hover {
            color: #ff8f0e;

            svg {
                fill: #ff8f0e
            }
        }
    }
}

.sum-chart {
    >div {
        width: 25%;
        height: 180px;
        padding: 0rem 2.5rem;
        border-right: 1px solid #ddd;

        &:first-child {
            border-right: none;
        }

        /* border: 1px solid #ddd; */
        /* background-color: #fff; */
        h3 {
            font-family: dinar;
            font-size: 1rem;
            color: #555
        }

        span {
            top: 30%;
            font-size: 1.1rem;
            color: #444;
            font-weight: 600;
        }

        >div {
            height: 50%;
            width: 100%;
        }
    }

    .just-name {
        border-right: 2px solid #5988ec44;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        >div {
            height: fit-content;
        }
    }
}



.section-content {
    table {
        th {
            padding: 0.5rem;
            text-align: right;
            color: var(--main-color-light);
            border-bottom: 2px solid var(--main-color-light);

            &:first-child {
                text-align: center;

            }
        }

        td {
            text-align: right;
            font-size: 0.8rem;
            padding: 0.5rem;
        }

        td:first-child {
            text-align: center;
            font-weight: 500;
            font-size: 1rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #5988ec;
            background-color: #5988ec0a;
        }

        tr {
            border-bottom: 1px solid #5988ec0a;
        }
    }
}

/* footer */

footer {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    background-color: #F5F8FB;
    box-shadow: 0 0 15px #bbb;
}

.footer-box-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 16px;
}

.footer-box {
    position: relative;
    z-index: 999;

    img {
        width: 100px
    }

    &.links {

        h6 {
            color: rgb(42, 80, 140);
            border-bottom: 1px solid rgb(42, 80, 140);
        }

        a {
            font-size: .8rem;
            line-height: 1rem;
            font-weight: lighter;
            color: rgb(42, 80, 140);
            transition: 0.4s;

            &:hover {
                margin-right: 5px;
            }
        }
    }

    .logo-name h3 {
        /*color: #d9eaff;*/
        font-size: 1rem;
        color: rgb(42, 80, 140);
    }
}

.text-content {
    h2 {
        width: fit-content;
        font-family: dinar, serif;
        font-size: 0.8rem;
        color: #ccc;
    }

    h3 {
        font-family: dinar, serif;
        font-size: 1rem;
        color: var(--text-color);
        width: fit-content;
    }

    h4 {
        font-family: Rezvan;
        /*color: #d9e9ff;*/
        color: rgb(42, 80, 140);

        /*font-size: 4.5rem;*/
        line-height: 1.5rem;

    }
}

.copyRight {
    border-top: 1px solid #7eace6;
    /*color: #d9e9ff;*/
    color: rgb(42, 80, 140);
    font-size: 0.8rem;
}

.footer-icon {
    aspect-ratio: 1;
    width: auto;
    color: var(--text-color);
    opacity: 0.3;
}

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #00B1E1;
}

.scroll .menu-top {
    position: sticky;
    animation: menu 1s;
    background-color: #fff;
    z-index: 9;
    top: 0;

    .top-header+.container {
        max-width: 100%;
        padding: 0;
    }

    ul {
        max-width: 1320px;
        margin: 0 auto;
    }

    .menu {
        margin-top: 0 !important;

        >div {
            border: none;
            box-shadow: 0 0 5px #bbb;
        }
    }
}

@keyframes menu {
    from {
        top: -100px
    }

    to {
        top: 0
    }
}




footer {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    background-color: #F5F8FB;
    box-shadow: 0 0 15px #bbb;
}

.footer-box-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 16px;
}

.footer-box {
    position: relative;
    z-index: 999;

    img {
        width: 100px
    }

    &.links {

        h6 {
            color: rgb(42, 80, 140);
            border-bottom: 1px solid rgb(42, 80, 140);
        }

        a {
            font-size: .8rem;
            line-height: 1rem;
            font-weight: lighter;
            color: rgb(42, 80, 140);
            transition: 0.4s;

            &:hover {
                margin-right: 5px;
            }
        }
    }

    .logo-name h3 {
        /*color: #d9eaff;*/
        font-size: 1rem;
        color: rgb(42, 80, 140);
    }
}

.text-content {
    h2 {
        width: fit-content;
        font-family: dinar, serif;
        font-size: 0.8rem;
        color: #ccc;
    }

    h3 {
        font-family: dinar, serif;
        font-size: 1rem;
        color: var(--text-color);
        width: fit-content;
    }

    h4 {
        font-family: Rezvan;
        /*color: #d9e9ff;*/
        color: rgb(42, 80, 140);

        /*font-size: 4.5rem;*/
        line-height: 1.5rem;

    }
}

.copyRight {
    border-top: 1px solid #7eace6;
    /*color: #d9e9ff;*/
    color: rgb(42, 80, 140);
    font-size: 0.8rem;
}

.footer-icon {
    aspect-ratio: 1;
    width: auto;
    color: var(--text-color);
    opacity: 0.1;
}
@media (max-width: 1200px){
    .top-header {
        height: 60px;
        .uni-logo{
            font-size: 1.5rem;
        }
    }
    .menu {
        > div {
             ul {
                a {
                    font-size: 0.7rem;
                    svg{
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}
@media (max-width: 992px){
    .menu{
        >div{
            height: auto;
            ul{
                flex-wrap: wrap;
                li{
                    width: 25%;
                    min-width: 25%;
                    a{
                        font-size: 0.65rem;
                        svg{
                            width: 11px;
                            height: 11px 
                        }
                    }

                }
            }
        }
    }
}
@media (max-width: 768px){
    .footer-box-container {

        grid-template-columns: revert
    }

    .footer-box {
        &.links {

            text-align: center;

            h6 {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

}

@media (max-width: 576px){
    .top-header {
        height: 50px;
        .uni-logo{
            font-size: 1.2rem;
        }
    }
    .menu{
        >div{
            ul{
                li{
                    width: 50%;
                    min-width: 50%;
                }
            }
        }
    }
    .menu-top{
        z-index: 9999 !important;
    }
    .section-title{
        h2{
            font-size: 1.2rem;
            svg{
                width: 18px;
                height: 18px
            }
        }
        .title-line{
            height: 4px
        }
    }
    .resources-links-header{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        a{
            width: 50%
        }
    }
    .section-content{
        table{
            th{
                font-size: 0.75rem;
            }
            td{
                font-size: 0.7rem;
            }
            td:first-child{
                min-width: 68px;
                font-size: 0.85rem;
            }
        }
    }
    .sum-chart{
        flex-wrap: wrap;
        >div{
            padding: 1rem 0.5rem;
            width: 50%;
            height: 150px;
            &:nth-child(odd){
                border-right: none;
            }
            &:nth-last-child(-n+2){
                border-top: 1px solid #ddd;
            }
        }
        &.top{
            >div:last-child{
                width: 100%;
            }
            >div:nth-child(3){
                border-top: 1px solid #ddd;

            }
        }
    }
    .main-section {
        scroll-margin-top: 160px;
    
    }
}